/* Le formulaire de connection */

@import url( "global-vars.css" );

#connection
{
    position: absolute;
    display: block;

    margin-left : 25%;
    margin-top  : 10%;

    padding: 1rem;

    width: 50%;
    height: 60%;

    border-radius: 1rem;

    background-color: white;

    box-shadow : var( --shadow-box );
}

#connection *
{
    display: block;

    margin-top  : 2rem;
    margin-left : 10%;

    width: 80%;
    height: 3rem;

    text-align: center;
}

    /* Media querries */
@media ( max-width : 768px )
{
    #connection
    {
        margin-left : 10%;
        margin-top  : 10%;

        width  : 80%;
        height : 70%;
    }
}

@media ( max-width : 425px )
{
    #connection
    {
        margin-left : 15%;
        margin-top  : 20%;

        width  : 70%;
        height : 70%;
    }
}