/* Le formulaire de connection */

@import url( "global-vars.css" );

#connection
{
    position: absolute;
    display: block;

    top : 15rem;

    margin-left: 25%;

    padding: 1rem;

    width: 50%;
    height: 22rem;

    border-radius: 1rem;

    background-color: white;
}

#connection *
{
    display: block;

    margin: 1rem 0px;

    width: 100%;
    height: 3rem;

    text-align: center;
}

    /* Media querries */
@media ( max-width : 768px )
{
    #connection
    {
        margin: 0px;

        width: 90%;
        height: 20rem;
    }

    #connection *
    {
        display: inline-block;

        margin: 1rem;
        left: 5%;

        width: 90%;
        height: 3rem;

        text-align: center;
    }
}

@media ( max-width : 768px )
{
    #connection
    {
        top : 10rem;
    }
}