/* La question */

@import url( "global-vars.css" );

#question
{
    position: absolute;
    display: block;

    left : 35%;
    top  : 25%;

    width  : 30%;
    height : 50%;

    background-color: white;

    border-radius: 0.5rem;

    box-shadow : var( --shadow-box );
}

#question *
{
    display: block;

    margin-top  : 4rem;
    margin-left : 10%;

    width: 80%;
    height: 3rem;
}

    /* Media querries */
@media ( max-width : 768px )
{
    #question
    {
        position: absolute;
        display: block;

        left : 10%;
        top  : 20%;

        width  : 80%;
        height : 60%;
    }
}