/* Le style global */

@import url( "topbar.css" );
@import url( "connect.css" );
@import url( "middle-area.css" );
@import url( "bottombar.css" );

html
{
    overflow-x: hidden;
}

body
{
    background-color : var( --light-bg );
}

*
{
    margin  : 0px;  padding : 0px;
    outline : none; border  : none;

    font-family: 'Trebuchet MS',  'Lucida Sans Unicode', 
                 'Lucida Grande', 'Lucida Sans', Arial,
                 'sans-serif';
    font-weight: bold;
    text-decoration : none;

    color: var( --dark-text );
}

*::selection
{
    background-color: var( --main-color );
    color: white;
}

    /* Barre de defilement pour la majorite des navigateurs */
*::-webkit-scrollbar
{
    width : 0.75rem;
}
*::-webkit-scrollbar-thumb
{
    background-color: var( --main-color );
}
*::-webkit-scrollbar-track
{
    background-color: var( --light-color );
}

    /* Barre de defilement pour Mozilla Firefox */
*::-moz-scrollbar
{
    width : 0.5rem;
}
*::-moz-scrollbar-thumb
{
    background-color: var( --main-color );
}
*::-moz-scrollbar-track
{
    background-color: var( --light-color );
}

    /* Barre de defilement pour Opera */
*::-opera-scrollbar
{
    width : 0.5rem;
}
*::-opera-scrollbar-thumb
{
    background-color: var( --main-color );
}
*::-opera-scrollbar-track
{
    background-color: var( --light-color );
}

div
{
    transition: 0.25s linear;
}

.hidden
{
    transform: scale( 0 );
}

button, input
{
    border-radius: 100rem 100rem;
    background-color: var( --light-bg );

    text-align: center;
    font-size : 1.25rem;

    color: var( --dark-text );
}

input
{
    background-color: var( --light-bg );
}

button
{
    transition: 0.25s linear;
    background-color: var( --main-color );
    color: var( --light-bg );
}

button:hover
{
    background-color: var( --dark-color );
    color: white;
}